
.node {
  stroke: #fff;
  stroke-width: 2px;
}

.node-ill {
  stroke: #e66;
  stroke-width: 2px;
}

.node-dead {
  opacity: 0.1;
}

.node-resurrected {
  stroke: #7d7;
  stroke-width: 2px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

svg {
	margin: -10px;
}

.form {
	position: absolute; padding: 3px 5px; left: 0px; top: 0px; z-index: 1; 	background-color: #BBB; font-family: sans-serif; opacity:1; width: 120px;
}
.form div{
	width: 100%;
	position: relative;
	height: 24px;
}
.form input {
	opacity: 1;
	width: 70px;
	text-align: right;
	position: absolute;
	right: 0px;
	top: 0px;
}
.form button {
	width: 100%;
}
